<div *ngIf="loading !== true; else showLoading" class="container">
    <h2>Posts</h2>
    <button class="btn btn-primary" (click)="changeLoading()">Click</button>
    <a [routerLink]="['/post/0']">
        <button class="btn btn-primary">Add</button>
    </a>
    <h1></h1>
    <ul class="list-group">
        <li class="d-flex justify-content-between list-group-item" *ngFor="let post of renderPosts()">
            <div>
                <a [routerLink]="['/post', post.id]" class="post-link">{{ post.title }}</a>
            </div>
            <div>
                <a class="badge badge-secondary delete-button" style="cursor: pointer;" (click)="deletePost(post.id)">Delete</a>
            </div>
        </li>
    </ul>
    <div>
        <small>({{ posts.edges.length }} / {{ posts.totalCount }})</small>
    </div>
    <button type="button" id="load-more" class="btn btn-primary" *ngIf="hasNextPage()" (click)="loadMoreRows()">Load more ...</button>
</div>
<ng-template #showLoading>
    <div class="text-center">{{loading}}</div>
</ng-template>