<div *ngIf="loading" class="text-center">Loading...</div>
<div *ngIf="!loading" id="content" class="container">
  <div class="text-center mt-4 mb-4">
    <section>
      <p>Current counter, is {{counter.amount}}. This is being stored server-side in the database and using Apollo subscription for real-time updates.</p>
      <label id="graphql-button" class="btn-primary" (click)="addCount()" ngbButtonLabel>Click to increase counter</label>
    </section>
    <section>
      <p>Current reduxCount, is {{reduxCount}}. This is being stored client-side with Redux.</p>
      <label id="redux-button" class="btn-primary" (click)="onReduxIncrement()" ngbButtonLabel>Click to increase reduxCount</label>
    </section>
  </div>
</div>