{
  "extends": [
    "../../../.eslintrc"
  ],
  "env": {
    "mocha": true
  },
  "plugins": ["mocha"],
  "rules": {
    "import/no-extraneous-dependencies": [2, {
      "devDependencies": true
    }]
  }
}
