{
  "extends": "../.eslintrc.base.json",
  "rules": {
    "import/no-extraneous-dependencies": ["error", { "optionalDependencies": true }],
    "import/extensions": 0,
    "import/no-unresolved": 0
  }
}