{
  "compact": false,
  "presets": ["react", ["env", { "modules": false }], "stage-0"],
  "plugins": [
    "transform-runtime",
    "transform-decorators-legacy",
    "transform-class-properties",
    ["styled-components", { "ssr": true }],
    ["import", { "libraryName": "antd-mobile-rn" }]
  ],
  "only": ["*.jsx", "*.js"],
  "env": {
    "production": {
      "compact": true
    },
    "jest": {
      "presets": ["react", "env", "stage-0"]
    }
  }
}
