/.vscode
/.history
.idea
.tmp
/node_modules
*/**/node_modules/
*/**/build/
/build
npm-debug.*
.gqlconfig
.expo/
*.sqlite3
.DS_Store
jsconfig.json
/public
# .env
apollo-universal-starter-kit.iml
lerna-debug.log