@import 'theme';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
body {
  font-family: 'Roboto', sans-serif;
}

.d-flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}
