$footer-height: 40px;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-height;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  line-height: $footer-height;
  height: $footer-height;
}
