@import 'bootstrap';

$footer-height: 40px;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-height;
}

.btn, .badge-pill {
  cursor: pointer;
}

.active {
  color: #000;
}