@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.nav-link {
}

a {
  text-decoration: none;
}

.active {
}