@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.text-center {
  text-align: center !important;
}

a {
  text-decoration: none;
}

.active {
  border-bottom: 4px solid white;
  padding-bottom: 13px;
}

.nav-link {
  a {
    color: white;
    opacity: .8
  }
}